body {
  background: #f2f2f2;
}

.App {
  position: relative;
  width: 100%;
  height: 2055px;
}

.top {
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.logo {
  position: absolute;
  width: 38.77px;
  height: 36px;
  left: 42px;
  top: 22px;

  background: url("./assets/icons/aerolab-logo.svg");
}

.nav-content{
  width: 40%;
  left: 198px;
  top: 8px;
  position: absolute;
}

.tabs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
  
.tab{
  width: 30%;
  text-align: center;
  border-style: double;
  border-color:beige;
  height: 31px
}

.tab a{
  text-decoration: none;
  color: orange;
  font-size: 1.5em;
}

.profile {
  position: absolute;
  width: 215px;
  height: 48px;
  left: 1100px;
  top: 16px;
}

.namexUser {
  position: absolute;
  height: 48px;
  left: 0%;
  right: 57%;
  top: calc(80% - 48px / 2);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 200% */

  letter-spacing: -0.15px;

  color: #616161;
}

.points {
  position: absolute;
  left: 47%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ededed;
  border-radius: 20.5px;
}

.money {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 76px;
  top: 8px;
  background: url("./assets/icons/coin.svg");
  background-color: #ededed;
}

.number {
  position: absolute;
  height: 48px;
  left: 12.62%;
  right: 40.78%;
  top: calc(50% - 48px / 2);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  /* identical to box height, or 200% */

  letter-spacing: -0.15px;

  color: #616161;
}

.header img {
  width: 100%;
}

.white {
  display: flex;
  justify-content: center;
}

.white-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  background: #f2f2f2;
}

.custom-form {
  height: 2rem;
    border: #0ad4fa;
    border-style: groove;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 100px;
    background:white;
}

.btn{
  border-radius: 100px;
  background: white;
  border-color: #0ad4fa;
}

.disabled{
  color:grey;
}

.active{
    color: #0ad4fa;
}


.history {
  top: 630px;
}

.products {
  position: absolute;
  width: 85%;
  left: 132px;
}

.containerCards {
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 23%;
  height: 282px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px 10px 10px 10px;
}

.IconExchange {
  width: 95%;
  margin-top: 10px;
}

.Icon {
  width: 42px;
  height: 42px;
  top: 684px;
  border-radius: 50%;
  background-color: #0ad4fa;
  float: right;
}

.Icon img {
  position: relative;
  top: 7px;
}

.IconYouneed {
  width: 142px;
  height: 42px;
  left: 554px;
  top: 984px;
  background: #616161;
  color: #FFFFFF;
  float: right;
  opacity: 0.8;
  border-radius: 100px;
}

.IconYouneed p{
  float: left;
  margin: 12px 8px;
}
.IconYouneed .money {
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  top: 5px;
  background: url("./assets/icons/coin.svg");
  background-color: #616161;
}

.photo {
  height: 182px;
}

.photo img {
  width: 175px;
  height: 142px;
  left: 183px;
  top: 713px;
}

.info {
  height: 85px;
  left: 156px;
  top: 866px;
}

.category {
  height: 20px;
  left: 0%;
  right: 78.07%;
  top: calc(50% - 20px / 2 - 2px);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.0376471px;

  color: #a3a3a3;
}

.name-product {
  height: 23px;
  left: 0%;
  right: 71.05%;
  top: calc(50% - 23px / 2 + 20.5px);

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  letter-spacing: -0.0423529px;

  color: #616161;
}

.overlay{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(238, 238, 238, 0.8);
  overflow: hidden;
  width: 0.04%;
  height: 100%;
  transition: .5s ease;
  display: flex;
  justify-content: center;
  align-content: center;
}

.product-card:hover .overlay {
  width: 100%;
  left: 0;
}

.overlay:hover{
  background-color:  #33d3f8;
}

.overlay .infoover{
  width: 70%;
  margin-top: 50px;
}

.overlay .infoover h3{
  color: white;
  font-size: 2.5em;
}

.overlay .text {
  background-color: white;
  color:  rgba(98, 98, 99, 0.8);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 100px;
}

.overlay .text p{
  width: 60%;
  float: left;
}

.overlay .money {
  position: relative;
  width: 30px;
  height: 30px;
  left: 3px;
  background: url("./assets/icons/coin.svg");
  background-color: white;
}

.fondo_transparente{
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.226);
  position: absolute;
  height: 100%;
  width: 100%;
}

.active{
  display: block;
}

.no-active{
  display: none;
}

.modal{
  background: linear-gradient(0deg,white 70%, crimson 30%);
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;

}

.interna{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 15px;
}


.wrong{
  background-color: #fff78e;
  color: #3ab46d;
}

.success{
  background-color: #ebebeb;
  color: crimson;
}

.modal button{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    border-radius: 100px;
    background:white;
}